<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <service
            android:name=".JimballWatchFaceService"
            android:directBootAware="true"
            android:exported="true"
            android:permission="android.permission.BIND_WALLPAPER">

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>

            <!-- TODO: figure out the code duplication here -->
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview" />
            <!--            <meta-data-->
            <!--                android:name="com.google.android.wearable.watchface.preview_circular"-->
            <!--                android:resource="@drawable/watch_preview" />-->
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />

            <meta-data
                android:name="android.service.wallpaper.square_mode"
                android:value="true" />
        </service>

    </application>

</manifest>